nlp_env
# --- DATA & MODELS (Too large for Git) ---
datasets/

# Ignore everything inside the offline_models directory
offline_models/*

# EXCEPT for the ml_baselines folder and its contents
!offline_models/ml_baselines/

trained_models/
results/local*

# --- LOGS & SLURM OUTPUTS ---
nlp_logs/
*.out
*.err
logs_*/

# --- ENVIRONMENTS ---
.venv/
nlp_env/
node_modules/
.env

# --- PYTHON Crap ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- JUPYTER ---
.ipynb_checkpoints/

# --- IDE SETTINGS ---
.vscode/
.idea/
.DS_Store
*.pyc
.vscode

.env
