# managing data and dataframes
pandas
numpy

# machine learning baselines and evaluation metrics
scikit-learn
joblib                  # Needed for saving/loading your ML baseline models (TF-IDF, SVM, etc.)

# core deep learning backend
torch

# handling transformer models and datasets
transformers
datasets
huggingface_hub
accelerate
sentencepiece           # CRITICAL: XLM-RoBERTa's tokenizer will crash without this

# hyperparameter tuning
optuna                  # Needed if you run the automated hyperparameter search

# preprocessing and active learning
indic-transliteration   # Needed for converting Manglish to native Malayalam script
openpyxl                # Needed for pandas to read/write .xlsx files in active learning
tqdm                    # Needed for the progress bar in the uncertainty extraction loop
deep_translator

# plotting confusion matrices for the report
matplotlib
seaborn

# notebook environment
jupyter

protobuf 
sentencepiece
optuna